---
import Layout from "../layouts/Layout.astro";
import { Card, Input, Select, Option, Divider, Button } from "astrolace:components";
import { languages } from "../lib/supportedLanguages";
import { db } from "astro:db";
import { RoastCollection } from "astro:db";

const previousRoasts = await db.select().from(RoastCollection)

---
<Layout title="Get Roasted">
	<div class="w-[100vw]">
		<div class="flex flex-col text-center align-center p-8">
			<h1 class="text-4xl font-bold">Welcome to the Astro based Roast Generator!</h1>
			<p>Get ready to roast your friends in various languages! (Using OpenAI)</p>	
		</div>
	
	<h2 class="p-4 text-2xl font-bold">Get Roasted</h2>
	<Card class="w-full px-8">
		<form id="roast" method="POST" action="/openai">
			<Input form="roast" name="username" placeholder="Enter your friend's Username" label="Github Username or Organization" helpText="Username or Organization" />

			<Divider />

			<Select form="roast" name="language" value="english" label="Language">
				{
					Object.entries(languages).map(([key, value]) => (
						<Option value={key}>{value.name}</Option>
					))
				}
			</Select>

			<Divider />

			<Button form="roast" variant="primary" size="medium" type="submit"><bold class="font-bold">Roast 'em!</bold></Button>
		</form>
	</Card>

	<Divider />

	<Card id="roast-result" style="display: none;">
		<h2 class="text-xl font-bold">Roast Result</h2>
		<Divider />
		<p>Your roast will appear here!</p>
	</Card>

	<Divider class="divider py-2" />

	<div class="w-full px-8">
		{
			previousRoasts.length > 0 ? (
				<Card>
					<h2 class="text-xl font-bold">Previous Roasts</h2>
					<Divider />
					{
						previousRoasts.map((roast) => (
							<div>
								<h3 class="text-lg font-bold">{roast.username}</h3> 
								<p>{roast.response.slice(0, 25)}... <a href={`/${roast.language}/${roast.username}`}>Read more...</a></p>
							</div>
						))
					}
				</Card>
			) : (
				<Card>
					<h2 class="text-xl font-bold">Previous Roasts</h2>
					<Divider />
					<p>No previous roasts found.</p>
				</Card>
			)
		}
	</div>
	</div>

	<script>
		const form = document.getElementById('roast') as HTMLFormElement;

		form?.addEventListener('submit', async (event) => {
			event.preventDefault();

			// Perform the fetch request to the OpenAI API
			fetch(form.action, {
				method: form.method,
				body: new FormData(form),
			})
			.then(response => response.json())
			.then(data => {
				// Update the roast result card with the response

				const roastResultCard = document.querySelector('#roast-result') as HTMLDivElement;
				roastResultCard.style.display = 'block';
				const roastResultText = roastResultCard.querySelector('p') as HTMLParagraphElement;
				roastResultText.textContent = data.roast;
			})
			.catch(error => {
				console.error('Error:', error);
			});
		});
	</script>
</Layout>