---
import { languages } from '../lib/supportedLanguages';
import { getRoasts } from '../lib/roastCollection';

interface Props {
    username: string;
    language: string;
}

// Get the username and language from props
const { username, language } = Astro.props;

// Validate the language and username
if ( languages[language] === undefined || languages[language] === null ) {
    throw new Error(`Language "${language}" is not yet supported.`);
}

// Fetch the roast data
const roastData = await (await getRoasts()).roastSelect(username, language)

// Check if roast data exists
if (!roastData) {
    throw new Error(`No roast found for ${username} in ${language}.`);
}

// Get the roast response
let { username: name, response: roast } = roastData;
---
<div style="display: flex; flex-direction: column; justify-items: center; align-items: center; background-color: #1c1c1c; font-family: Poppins; height: 100%;">

    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
        <h1 style="font-size: 4rem; line-height: 4rem; color: #dcdcdc; text-shadow: 4px 4px 10px black;">
            Welcome to the Astro based Roast Generator!
        </h1>
        <p style="font-size: 1.5rem; line-height: 1rem; color: #dcdcdc; text-shadow: 4px 4px 10px black;">Get ready to roast your friends in various languages! (Using OpenAI)</p>	
    </div>

    <div style="display: flex; flex-direction: row; justify-items: center; align-items: center; padding-top: 2rem; padding-bottom: 0;">
        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-right: 1rem;">

            <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #04001f; border-color: #454545; border-width: 3px; padding: 1rem; width: 90vw; box-shadow: 1px 1px 20px black;">
                <h2 style="font-size: 4rem; line-height: 5rem; color: #0073ff; text-shadow: 4px 4px 10px black;">
                    {name}
                </h2>
                <div style="display: flex; flex-direction: column; justify-items: center; align-items: center;">
                    <p style="font-size: 2rem; line-height: 2.5rem; color: #cacaca; text-shadow: 4px 4px 10px black;white-space: pre-line;">
                        {roast}
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
