---
import { Card, Icon } from 'astrolace:components';
import { toPascalCase } from '@matthiesenxyz/integration-utils';
import { getRoastPath, getRoasts } from '../lib/roastCollection';
import { getSvg } from '../lib/svgMap';

interface Props {
	language: string;
}

const { language } = Astro.props;

// Fetch the previous roasts for the given language
const previousRoasts = await (await getRoasts()).byLanguage(language);
---

<Card class="web-frame">
    <h2 class="text-2xl font-bold text-secondary text-shadow-lg">Roasts <span class="text-accent">({toPascalCase(language)})</span></h2>
    
    <div class="py-2 divider"></div>
            
    { previousRoasts.length > 0 ? previousRoasts.map((roast) => (
        <div class="pb-4">

            <h3 class="text-lg font-bold text-accent">{toPascalCase(roast.username)}</h3> 
            
            <div class="flex flex-row">
                <p class="line-clamp-1">{roast.response}</p>
                <a class="flex-none text-blue text-align-right inline flex align-center items-center gap-2 " href={getRoastPath(roast)}>Read more <Icon src={getSvg('forward')} /></a>
            </div>
            
        </div>
    )): (
        <h2 class="text-xl font-bold text-secondary text-shadow-lg">Roasts <span class="text-accent">({toPascalCase(language)})</span></h2>
        <div class="py-2"></div>
        <p>No roasts found.</p>
    )}
</Card>