---
import { db } from "astro:db";
import { languages } from "../../lib/supportedLanguages";
import { RoastCollection } from "astro:db";
import { eq } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import { and } from "astro:db";
import { Card } from "astrolace:components";


const { language, username } = Astro.params;

if (!language || !username) {
    throw new Error("Language and username are required.");
}

if ( languages[language] === undefined || languages[language] === null ) {
    throw new Error(`Language "${language}" is not yet supported.`);
}

const roastData = await db
    .select()
    .from(RoastCollection)
    .where(and(
        eq(RoastCollection.username, username), 
        eq(RoastCollection.language, language)
    ))
    .get();

---

<Layout title={`Roast for ${username}`} description={username + " Roasted"} ogImage={`${language}/${username}`}>

    <div class="w-[100vw] flex align-center justify-center p-4">
        <Card class="sm:w-full sm:px-8 md:px-32 lg:px-64">
            <h1 class="text-2xl font-bold">Roast for <a class="text-blue" href={`https://github.com/${username}`}>{username}</a></h1>

            <div class="py-2 prose"></div>

            {
                roastData ? (
                    <div style="white-space: pre-line;" set:text={roastData.response} />
                ) : (
                    <p>No roast found for {username} in {language}.</p>
                )
            }

            <div class="flex">
                <div class="pt-4 text-blue font-bold text-align-left flex-none">
                    <a href="/" class="inline">Back to the Roaster</a>
                </div>
    
                <div class="w-full"></div>

                <div class="pt-4 text-blue font-bold text-align-right flex-none">
                    <a href={`/${language}/${username}`}>Shareable link</a>
                </div>
            </div>
        </Card>
    </div>
</Layout>